body {
  background-color: #dedede;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 1em;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

button {
  background-color: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
  padding: 1em;
}

button:hover,
button:focus {
  background-color: #000;
}
